{%- capture product_tabs -%}
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'content' -%}
        {%- if block.settings.page != blank -%}
          {%- assign title = block.settings.page.title -%}
          {%- assign content = block.settings.page.content -%}
        {%- else -%}
          {%- assign title = block.settings.title -%}
          {%- assign content = block.settings.content -%}
        {%- endif -%}

        {%- if title != blank and content != blank -%}
          <div class="Collapsible Collapsible--large" {{ block.shopify_attributes }}>
            <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false">
              {{- title -}} <span class="Collapsible__Plus"></span>
            </button>

            <div class="Collapsible__Inner">
              <div class="Collapsible__Content">
                <div class="Rte">
                  {{- content -}}
                </div>
              </div>
            </div>
          </div>
        {%- endif -%}

      {%- when 'reviews' -%}
      <link rel="stylesheet" href="{{ 'stamped-2.css' | asset_url }}">
        <div class="Collapsible Collapsible--large" {{ block.shopify_attributes }} >
          <button class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible" aria-expanded="false" id="reviews-tab">
            <span>{{ 'product.tabs.reviews' | t }} ({{ product.metafields.stamped.reviews_count }})</span>
            <span class="Collapsible__Plus"></span>
          </button>
          
          
          <div class="Collapsible__Inner">
            <div class="Collapsible__Content">
              <div id="stamped-main-widget" 
                  data-widget-style="standard"
                  data-product-id="{{ product.id }}" 
                  data-name="{{ product.title | escape }}" 
                  data-url="{{ shop.url }}{{ product.url }}" 
                  data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26' }}" 
                  data-description="{{ product.description | escape }}" 
                  data-product-sku="{{ product.handle }}"
                  data-product-type="{{ product.type }}"> 
                  {{ product.metafields.stamped.reviews }} 
                </div>
            </div>
          </div>
        </div>
    {%- endcase -%}
  {%- endfor -%}
{%- endcapture -%}

{%- if product_tabs != blank -%}
  <div class="Product__Tabs">
    {{- product_tabs -}}
  </div>
{%- endif -%}