<div 
     id="stamped-reviews-widget" 
     data-widget-type="nps-submission-form" 
     data-email="{{customer.email}}" 
     data-name="{{ customer.first_name }} {{ customer.last_name }}"
     data-title="Thank you for your review!" 
     data-message="How likely are you to recommend us to friend or family?">
</div>
{%if customer %}
<script>
var customerName = '{{customer.first_name }}';

if (!customerName){
customerName = 'Anonymous';
}
$('.nps-name-wrapper input[type="text"]').val(customerName);
$('.nps-email-wrapper input[type="email"]').val('{{customer.email}}');
</script>
{% endif %}